@using CarManager.Business
@model IEnumerable<Car>

@{
    ViewBag.Title = "Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cars</h2>

<p>
    @Html.ActionLink("Create New", "CreateCar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarId)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCar", new { carId = item.CarId }) |
                @Html.ActionLink("Delete", "DeleteCar", new { carId = item.CarId })
            </td>
        </tr>
    }

</table>